<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
	  
      <endpointBehaviors>
        <behavior name="XsltEndpointBehavior">
          <XsltMessageInspectorExtension styleSheetPath="ConvertToCelsius.xsl" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="XsltMessageInspectorExtension" type="XslTransformMessageInspector.BehaviorExtension, XslTransformMessageInspector, Version=0.5.0.0, Culture=neutral, PublicKeyToken=4fe7a06540645ac9" />
      </behaviorExtensions>
    </extensions>

    <diagnostics>
      <messageLogging 
        logMessagesAtTransportLevel="true" logMessagesAtServiceLevel="false" 
        logMalformedMessages="true" logEntireMessage="true"
        maxSizeOfMessageToLog="65535000" maxMessagesToLog="500" />
    </diagnostics>

  </system.serviceModel>

	<system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\logs\ScenarioDataBindingSample.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
