<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost/ServiceModelSamples/service.svc"
                binding="basicHttpBinding" contract="MsdnDataBindingScenarioSampleClient.IWeatherService" />
        </client>
    </system.serviceModel>
</configuration>