<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="XsltMessageInspectorExtension" type="XslTransformMessageInspector.BehaviorExtension, XslTransformMessageInspector, Version=0.5.0.0, Culture=neutral, PublicKeyToken=4fe7a06540645ac9" />
      </behaviorExtensions>
    </extensions>

    <behaviors>
      <endpointBehaviors>
        <behavior name="XsltEndpointBehavior">
          <XsltMessageInspectorExtension styleSheetPath="..\Example\ConvertToCelsius.xsl" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
