<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="XslTransformMessageInspector" type="???" />
  </configSections>

  <XslTransformMessageInspector XsltPath="" />
  
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="XsltMessageInspectorExtension" type="???" />
      </behaviorExtensions>
    </extensions>

    <behaviors>
      <endpointBehaviors>
        <behavior name="XsltEndpointBehavior">
          <XsltMessageInspectorExtension />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
